In [1]:
from pydeseq2.dds import DeseqDataSet
from pydeseq2.ds import DeseqStats

import pandas as pd

In [2]:
import os
new_directory = r'C:\Users\ajibo\Desktop'
os.chdir(new_directory)

In [3]:
counts = pd.read_csv('Livercorn-flaxseed.csv')
counts

,Geneid,LIC_1,LIC_3,LIC_31,LIC_35,LIC_37,LIF_22,LIF_24,LIF_26,LIF_28,LIF_30
0,Vom2r3,0,0,0,0,0,0,0,0,0,0
1,LOC103693496,0,0,0,0,0,0,0,0,4,0
2,Vom2r4,0,0,0,0,0,0,0,0,0,0
3,LOC102556157,0,0,0,0,0,0,0,0,0,0
4,LOC108352169,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
34323,ND6,56463,54019,6736,8883,33959,9954,14250,16254,13811,25234
34324,Trne,288,197,23,19,175,74,116,136,143,478
34325,CYTB,549092,288070,112986,93962,348263,136789,205223,247071,180821,342944
34326,Trnt,0,1,0,0,0,0,0,0,0,0
34327,Trnp,1910,2027,399,406,1282,467,601,706,543,855

In [4]:
counts = counts.set_index('Geneid')
counts

,LIC_1,LIC_3,LIC_31,LIC_35,LIC_37,LIF_22,LIF_24,LIF_26,LIF_28,LIF_30
Geneid,,,,,,,,,,
Vom2r3,0,0,0,0,0,0,0,0,0,0
LOC103693496,0,0,0,0,0,0,0,0,4,0
Vom2r4,0,0,0,0,0,0,0,0,0,0
LOC102556157,0,0,0,0,0,0,0,0,0,0
LOC108352169,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
ND6,56463,54019,6736,8883,33959,9954,14250,16254,13811,25234
Trne,288,197,23,19,175,74,116,136,143,478
CYTB,549092,288070,112986,93962,348263,136789,205223,247071,180821,342944
Trnt,0,1,0,0,0,0,0,0,0,0
Trnp,1910,2027,399,406,1282,467,601,706,543,855

In [5]:
counts = counts[counts.sum(axis = 1) > 0]
counts

,LIC_1,LIC_3,LIC_31,LIC_35,LIC_37,LIF_22,LIF_24,LIF_26,LIF_28,LIF_30
Geneid,,,,,,,,,,
LOC103693496,0,0,0,0,0,0,0,0,4,0
LOC102548633,1,0,0,0,0,1,0,0,0,0
LOC103690914,1,0,0,2,0,0,0,0,1,0
LOC102556098,3,6,4,4,5,6,9,11,6,25
LOC102548076,2,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
ND6,56463,54019,6736,8883,33959,9954,14250,16254,13811,25234
Trne,288,197,23,19,175,74,116,136,143,478
CYTB,549092,288070,112986,93962,348263,136789,205223,247071,180821,342944
Trnt,0,1,0,0,0,0,0,0,0,0
Trnp,1910,2027,399,406,1282,467,601,706,543,855

In [6]:
counts = counts.T

In [7]:
counts

Geneid,LOC103693496,LOC102548633,LOC103690914,LOC102556098,LOC102548076,LOC100910123,LOC120098765,LOC103690290,Rrlt,LOC108348301,...,ND4,Trnh,Trns2,Trnl2,ND5,ND6,Trne,CYTB,Trnt,Trnp
LIC_1,0,1,1,3,2,3,0,3,0,0,...,445949,90,106,222,165727,56463,288,549092,0,1910
LIC_3,0,0,0,6,0,0,0,0,2,5,...,242499,88,93,90,59926,54019,197,288070,1,2027
LIC_31,0,0,0,4,1,0,0,0,3,0,...,86250,31,34,46,26009,6736,23,112986,0,399
LIC_35,0,0,2,4,0,0,0,0,0,0,...,82912,68,59,147,16898,8883,19,93962,0,406
LIC_37,0,0,0,5,0,0,1,0,5,5,...,357062,65,117,148,99374,33959,175,348263,0,1282
LIF_22,0,1,0,6,0,0,1,0,0,1,...,116952,45,28,49,40194,9954,74,136789,0,467
LIF_24,0,0,0,9,0,0,0,0,7,0,...,192978,23,77,135,47883,14250,116,205223,0,601
LIF_26,0,0,0,11,0,0,0,0,1,0,...,194369,19,41,149,52040,16254,136,247071,0,706
LIF_28,4,0,1,6,0,0,0,0,2,0,...,179560,57,71,98,45462,13811,143,180821,0,543
LIF_30,0,0,0,25,1,0,4,0,0,1,...,309893,48,82,321,85308,25234,478,342944,0,855

In [8]:
metadata = pd.DataFrame(zip(counts.index, ['LIC','LIC','LIC','LIC','LIC', 'LIF', 'LIF', 'LIF', 'LIF', 'LIF']), 
                        columns = ['Sample', 'Condition'])

In [9]:
metadata = metadata.set_index('Sample')
metadata

       Condition
Sample
LIC_1        LIC
LIC_3        LIC
LIC_31       LIC
LIC_35       LIC
LIC_37       LIC
LIF_22       LIF
LIF_24       LIF
LIF_26       LIF
LIF_28       LIF
LIF_30       LIF

In [10]:
dds = DeseqDataSet(counts=counts,
            clinical=metadata,
            design_factors="Condition")

#Design_factors=["batch", "condition"] = ~ batch + condition

In [11]:
dds.deseq2()

Fitting size factors...
... done in 0.03 seconds.

Fitting dispersions...
... done in 14.77 seconds.

Fitting dispersion trend curve...
... done in 17.93 seconds.

Fitting MAP dispersions...
... done in 17.44 seconds.

Fitting LFCs...
... done in 15.02 seconds.

Refitting 0 outliers.

In [12]:
stat_res = DeseqStats(dds, n_cpus=8, contrast = ('Condition', 'LIF','LIC'))

In [14]:
stat_res.summary()

Log2 fold change & Wald test p-value: Condition LIF vs LIC

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
Geneid,,,,,,
LOC103693496,0.356601,1.894113,3.337702,0.567490,0.570381,NaN
LOC102548633,0.220557,-0.166888,3.371929,-0.049493,0.960526,NaN
LOC103690914,0.417632,-1.342714,3.007873,-0.446400,0.655309,NaN
LOC102556098,7.824616,1.270341,0.655097,1.939164,0.052481,0.269390
LOC102548076,0.484914,-1.523627,2.901050,-0.525198,0.599445,NaN
...,...,...,...,...,...,...
ND6,24960.606324,-1.193643,0.645416,-1.849418,0.064398,0.296881
Trne,169.591925,0.272169,0.852669,0.319196,0.749578,0.906963
CYTB,258876.998635,-0.521885,0.448425,-1.163819,0.244497,0.557634
Trnt,0.101582,-0.743963,3.480788,-0.213734,0.830754,NaN
Trnp,950.265685,-1.108713,0.436197,-2.541768,0.011029,0.118479

In [16]:
res = stat_res.results_df

In [17]:
res

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
Geneid,,,,,,
LOC103693496,0.356601,1.894113,3.337702,0.567490,0.570381,NaN
LOC102548633,0.220557,-0.166888,3.371929,-0.049493,0.960526,NaN
LOC103690914,0.417632,-1.342714,3.007873,-0.446400,0.655309,NaN
LOC102556098,7.824616,1.270341,0.655097,1.939164,0.052481,0.269390
LOC102548076,0.484914,-1.523627,2.901050,-0.525198,0.599445,NaN
...,...,...,...,...,...,...
ND6,24960.606324,-1.193643,0.645416,-1.849418,0.064398,0.296881
Trne,169.591925,0.272169,0.852669,0.319196,0.749578,0.906963
CYTB,258876.998635,-0.521885,0.448425,-1.163819,0.244497,0.557634
Trnt,0.101582,-0.743963,3.480788,-0.213734,0.830754,NaN
Trnp,950.265685,-1.108713,0.436197,-2.541768,0.011029,0.118479

In [22]:
res = res[res.baseMean >= 10]

In [23]:
res

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
Geneid,,,,,,
LOC100910848,28.257318,-0.333193,0.373533,-0.892003,0.372391,0.679347
Lrp11,1308.789628,0.555687,0.271027,2.050302,0.040335,0.233102
Pcmt1,448.140831,-0.142033,0.198410,-0.715854,0.474082,0.754279
Nup43,70.312942,-0.255825,0.230676,-1.109026,0.267419,0.582448
Lats1,334.622842,0.151928,0.201443,0.754200,0.450729,0.738074
...,...,...,...,...,...,...
ND5,66595.999162,-0.657917,0.639648,-1.028560,0.303687,0.617271
ND6,24960.606324,-1.193643,0.645416,-1.849418,0.064398,0.296881
Trne,169.591925,0.272169,0.852669,0.319196,0.749578,0.906963
CYTB,258876.998635,-0.521885,0.448425,-1.163819,0.244497,0.557634
Trnp,950.265685,-1.108713,0.436197,-2.541768,0.011029,0.118479

In [24]:
file_path = r'C:\Users\ajibo\Desktop\dexpressed_genes.csv'

In [25]:
res.to_csv(file_path)

In [51]:
res = res[res['padj'] <= 0.05]

In [52]:
res

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
Geneid,,,,,,
Aig1,274.951529,1.571624,0.281360,5.585819,2.326018e-08,0.000025
Smlr1,1994.725171,-1.015511,0.236857,-4.287440,1.807438e-05,0.002492
Rps12,6939.923716,-0.939073,0.276168,-3.400367,6.729534e-04,0.023882
Hint3,472.096827,-0.943722,0.191908,-4.917572,8.762439e-07,0.000285
Echdc1,455.191599,-0.990512,0.294970,-3.358014,7.850455e-04,0.026059
...,...,...,...,...,...,...
LOC100360413,12871.973043,-1.069882,0.345779,-3.094116,1.974001e-03,0.045061
Nsdhl,8174.389968,-1.225306,0.223620,-5.479404,4.267607e-08,0.000038
Ssr4,2122.783258,-1.124633,0.288624,-3.896540,9.757680e-05,0.007728
mt-Rnr1,5241.620245,-1.593548,0.437481,-3.642556,2.699437e-04,0.014296
ND3,20183.414420,-1.547730,0.459422,-3.368861,7.547938e-04,0.025735

In [65]:
%pip install sanbomics

Collecting sanbomics
  Downloading sanbomics-0.1.0-py3-none-any.whl (1.1 MB)
     ---------------------------------------- 1.1/1.1 MB 8.0 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.9.1 in c:\users\ajibo\anaconda3\lib\site-packages (from sanbomics) (1.10.0)
Requirement already satisfied: matplotlib>=3.4 in c:\users\ajibo\anaconda3\lib\site-packages (from sanbomics) (3.7.0)
Requirement already satisfied: pandas>=1.0 in c:\users\ajibo\anaconda3\lib\site-packages (from sanbomics) (1.5.3)
Collecting adjustText>=0.7.3
  Downloading adjustText-0.8-py3-none-any.whl (9.1 kB)
Requirement already satisfied: seaborn in c:\users\ajibo\anaconda3\lib\site-packages (from sanbomics) (0.12.2)
Requirement already satisfied: numpy>=1.17.0 in c:\users\ajibo\anaconda3\lib\site-packages (from sanbomics) (1.23.5)
Requirement already satisfied: cycler>=0.10 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->sanbomics) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->sanbomics) (22.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->sanbomics) (9.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->sanbomics) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->sanbomics) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->sanbomics) (4.25.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->sanbomics) (1.0.5)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->sanbomics) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\ajibo\anaconda3\lib\site-packages (from pandas>=1.0->sanbomics) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\ajibo\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.4->sanbomics) (1.16.0)
Installing collected packages: adjustText, sanbomics
Successfully installed adjustText-0.8 sanbomics-0.1.0
Note: you may need to restart the kernel to use updated packages.

In [66]:
from sanbomics.plots import volcano

In [67]:
res

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
Geneid,,,,,,
Acat2,1211.203236,-3.395743,0.674046,-5.037851,4.707886e-07,0.000181
Gpr31,14.514033,2.269821,0.630330,3.601005,3.169900e-04,0.015063
RGD1565590,28.325206,2.520587,0.582678,4.325867,1.519334e-05,0.002230
Fosb,9.056719,2.845616,0.882806,3.223378,1.266884e-03,0.035051
LOC120097118,6.119122,2.725656,0.852264,3.198135,1.383196e-03,0.037304
...,...,...,...,...,...,...
Cyp21a1,9.966261,2.089770,0.599837,3.483897,4.941694e-04,0.019942
LOC499407,13.592300,2.160023,0.606962,3.558742,3.726347e-04,0.016419
LOC120099297,11.172887,-2.502256,0.636933,-3.928601,8.544147e-05,0.007103
S100g,15.324143,-2.937151,0.728752,-4.030386,5.568531e-05,0.005151
LOC100361854,11.092902,-2.475540,0.673111,-3.677758,2.352929e-04,0.013238

In [53]:
file_path = r'C:\Users\ajibo\Desktop\expressed_genes.csv'

In [54]:
res.to_csv(file_path)

In [55]:
res = res[abs(res['log2FoldChange']) >= 2]

In [56]:
res

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
Geneid,,,,,,
Acat2,1211.203236,-3.395743,0.674046,-5.037851,4.707886e-07,0.000181
Gpr31,14.514033,2.269821,0.630330,3.601005,3.169900e-04,0.015063
RGD1565590,28.325206,2.520587,0.582678,4.325867,1.519334e-05,0.002230
Fosb,9.056719,2.845616,0.882806,3.223378,1.266884e-03,0.035051
LOC120097118,6.119122,2.725656,0.852264,3.198135,1.383196e-03,0.037304
...,...,...,...,...,...,...
Cyp21a1,9.966261,2.089770,0.599837,3.483897,4.941694e-04,0.019942
LOC499407,13.592300,2.160023,0.606962,3.558742,3.726347e-04,0.016419
LOC120099297,11.172887,-2.502256,0.636933,-3.928601,8.544147e-05,0.007103
S100g,15.324143,-2.937151,0.728752,-4.030386,5.568531e-05,0.005151
LOC100361854,11.092902,-2.475540,0.673111,-3.677758,2.352929e-04,0.013238

In [57]:
res.to_csv(file_path)

In [58]:
res = res[res.baseMean >= 5]

In [59]:
res

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
Geneid,,,,,,
Acat2,1211.203236,-3.395743,0.674046,-5.037851,4.707886e-07,0.000181
Gpr31,14.514033,2.269821,0.630330,3.601005,3.169900e-04,0.015063
RGD1565590,28.325206,2.520587,0.582678,4.325867,1.519334e-05,0.002230
Fosb,9.056719,2.845616,0.882806,3.223378,1.266884e-03,0.035051
LOC120097118,6.119122,2.725656,0.852264,3.198135,1.383196e-03,0.037304
...,...,...,...,...,...,...
Cyp21a1,9.966261,2.089770,0.599837,3.483897,4.941694e-04,0.019942
LOC499407,13.592300,2.160023,0.606962,3.558742,3.726347e-04,0.016419
LOC120099297,11.172887,-2.502256,0.636933,-3.928601,8.544147e-05,0.007103
S100g,15.324143,-2.937151,0.728752,-4.030386,5.568531e-05,0.005151
LOC100361854,11.092902,-2.475540,0.673111,-3.677758,2.352929e-04,0.013238

In [60]:
res.to_csv(file_path)

In [61]:
!pip install scanpy

Requirement already satisfied: scanpy in c:\users\ajibo\anaconda3\lib\site-packages (1.9.5)
Requirement already satisfied: numpy>=1.17.0 in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (1.23.5)
Requirement already satisfied: patsy in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (0.5.3)
Requirement already satisfied: umap-learn>=0.3.10 in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (0.5.4)
Requirement already satisfied: packaging in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (22.0)
Requirement already satisfied: session-info in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (1.0.0)
Requirement already satisfied: joblib in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (1.1.1)
Requirement already satisfied: scipy>=1.4 in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (1.10.0)
Requirement already satisfied: networkx>=2.3 in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (2.8.4)
Requirement already satisfied: statsmodels>=0.10.0rc2 in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (0.14.0)
Requirement already satisfied: natsort in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (8.4.0)
Requirement already satisfied: h5py>=3 in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (3.7.0)
Requirement already satisfied: anndata>=0.7.4 in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (0.9.1)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (1.2.1)
Requirement already satisfied: pandas>=1.0 in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (1.5.3)
Requirement already satisfied: seaborn in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (0.12.2)
Requirement already satisfied: matplotlib>=3.4 in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (3.7.0)
Requirement already satisfied: numba>=0.41.0 in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (0.56.4)
Requirement already satisfied: tqdm in c:\users\ajibo\anaconda3\lib\site-packages (from scanpy) (4.64.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->scanpy) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->scanpy) (2.8.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->scanpy) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->scanpy) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->scanpy) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->scanpy) (9.4.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ajibo\anaconda3\lib\site-packages (from matplotlib>=3.4->scanpy) (4.25.0)
Requirement already satisfied: setuptools in c:\users\ajibo\anaconda3\lib\site-packages (from numba>=0.41.0->scanpy) (65.6.3)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in c:\users\ajibo\anaconda3\lib\site-packages (from numba>=0.41.0->scanpy) (0.39.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\ajibo\anaconda3\lib\site-packages (from pandas>=1.0->scanpy) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ajibo\anaconda3\lib\site-packages (from scikit-learn>=0.24->scanpy) (2.2.0)
Requirement already satisfied: six in c:\users\ajibo\anaconda3\lib\site-packages (from patsy->scanpy) (1.16.0)
Requirement already satisfied: pynndescent>=0.5 in c:\users\ajibo\anaconda3\lib\site-packages (from umap-learn>=0.3.10->scanpy) (0.5.10)
Requirement already satisfied: stdlib-list in c:\users\ajibo\anaconda3\lib\site-packages (from session-info->scanpy) (0.9.0)
Requirement already satisfied: colorama in c:\users\ajibo\anaconda3\lib\site-packages (from tqdm->scanpy) (0.4.6)

In [62]:
!pip install numba

Requirement already satisfied: numba in c:\users\ajibo\anaconda3\lib\site-packages (0.56.4)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in c:\users\ajibo\anaconda3\lib\site-packages (from numba) (0.39.1)
Requirement already satisfied: setuptools in c:\users\ajibo\anaconda3\lib\site-packages (from numba) (65.6.3)
Requirement already satisfied: numpy<1.24,>=1.18 in c:\users\ajibo\anaconda3\lib\site-packages (from numba) (1.23.5)

In [34]:
import numpy as np
print(np.__version__)

1.26.0

In [35]:
import sys
print(sys.executable)

C:\Users\ajibo\anaconda3\python.exe

In [64]:
res

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
Geneid,,,,,,
Acat2,1211.203236,-3.395743,0.674046,-5.037851,4.707886e-07,0.000181
Gpr31,14.514033,2.269821,0.630330,3.601005,3.169900e-04,0.015063
RGD1565590,28.325206,2.520587,0.582678,4.325867,1.519334e-05,0.002230
Fosb,9.056719,2.845616,0.882806,3.223378,1.266884e-03,0.035051
LOC120097118,6.119122,2.725656,0.852264,3.198135,1.383196e-03,0.037304
...,...,...,...,...,...,...
Cyp21a1,9.966261,2.089770,0.599837,3.483897,4.941694e-04,0.019942
LOC499407,13.592300,2.160023,0.606962,3.558742,3.726347e-04,0.016419
LOC120099297,11.172887,-2.502256,0.636933,-3.928601,8.544147e-05,0.007103
S100g,15.324143,-2.937151,0.728752,-4.030386,5.568531e-05,0.005151
LOC100361854,11.092902,-2.475540,0.673111,-3.677758,2.352929e-04,0.013238